@import "tailwindcss";


:root{
  font-family : "Inter",sans-serif 
}

/* for TechMarquee */

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}


/* Scroll effect */

/* html {
  scroll-behavior: smooth;
} */


html, body {
  overflow-x: hidden;
}
